.headerContainer {
    display: flex;
    background-color: var(--black);
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logoImg {
    height: 50px;
}

.logoText {
    color: var(--green);
    font-size: 16px;
    font-weight: 500;
}

.headerSettings {
    height: 24px;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}


.contentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    max-width: 1000px;
    margin: auto;
}
@media (max-width: 1100px) {
    .contentContainer {
        margin: 0 50px;
        gap: 30px;
    }
}

.headerNav {
    display: none;
}
.headerNavItems {
    display: flex;
}

@media (max-width: 850px) {
    .contentContainer {
        margin: auto;
        grid-template-columns: 1fr;
    }
    .overviewContainer,
    .historyContainer {
        display: none;
    }
    .headerNav {
        display: block;
    }
    .headerSettings {
        display: none;
    }
}


.headerNav li {
    color: var(--white);
}

.currentHeader {
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    margin: 40px 0;
}

.currentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currentPrice {
    border: 2px solid #80808099;
    border-radius: 50%;
    height: 220px;
    width: 220px;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.border1 {
    border: 2px dashed #55EC2099;
    border-radius: 50%;
    height: 190px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border2 {
    border: 2px dashed var(--green);
    border-radius: 50%;
    height: 160px;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.currentPrice p {
    color: var(--green);
    text-align: center;
}

#priceContainer {
    font-size: 26px;
    font-weight: 600;
}

.priceDesc {
    font-weight: 600;
    font-size: 14px;
    color: var(--green);
}

.currentTime {
    color: var(--green);
    margin: 20px 0;
}

.highest,
.lowest {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.border3 {
    background-color: #201E1E99;
    height: 120px;
    width: 120px;
}

.border4 {
    height: 100px;
    width: 100px;
    background-color: var(--black);
    border-radius: 50%;
    border: 2px dashed var(--green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.highestAndLowest {
    display: flex;
    gap: 20px;
}
/* .highestAndLowest p {
    text-align: center;
    color: var(--white);
} */

#lowestPriceContainer,
#highestPriceContainer {
    font-size: 16px;
    font-weight: 300;
}

.priceDesc2 {
    font-size: 12px;
    font-weight: 300;
}


#overviewList {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    font-weight: 300;
}
.overviewListItem {
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
    box-shadow: 0px 0px 10px 0px #EBEBEB19;
    border-radius: 6px;
    width: 100%;
    padding: 8px 40px;
}

.list1 {
    color: #00FF01;
}
.list2 {
    color: #33FF00;
}
.list3 {
    color: #65FF00;
}
.list4 {
    color: #93F500;
}
.list5 {
    color: #CCFF00;
}
.list6 {
    color: #FFFF01;
}
.list7 {
    color: #FFCC00;
}
.list8 {
    color: #FE9900;
}
.list9 {
    color: #FF6600;
}
.list10 {
    color: #FF3300;
}


#dateSelector {
    background-color: var(--black);
    box-shadow: 0px 0px 10px 0px #EBEBEB22;
    border-radius: 6px;
    width: 100%;
    padding: 8px 40px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 300;
}
#dateSelector option {
    padding: 8px 40px;
    font-weight: 300;
}

#historyList {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: 300;
    gap: 10px;
}