@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --grey: #27282B;
    --black: #201E1E;
    --green: #55EC20;
    --white: #EBEBEB;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    color: var(--white);
    box-sizing: border-box;
}

body {
    background-color: var(--grey);
}
body::-webkit-scrollbar {
    display: none;
}

.list1 {
    color: #00FF01;
}
.list2 {
    color: #33FF00;
}
.list3 {
    color: #65FF00;
}
.list4 {
    color: #93F500;
}
.list5 {
    color: #CCFF00;
}
.list6 {
    color: #FFFF01;
}
.list7 {
    color: #FFCC00;
}
.list8 {
    color: #FE9900;
}
.list9 {
    color: #FF6600;
}
.list10 {
    color: #FF3300;
}