.contentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    /* max-width: 1000px; */
    position: relative;
    width: 100vw;
    padding: 0 100px;
}


.currentHeader {
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    margin: 50px 0;
}

@media (max-width: 1100px) {
    .contentContainer {
        padding: 0 50px;
        gap: 30px;
    }
}

@media (max-width: 850px) {
    .contentContainer {
        padding: 0;
        grid-template-columns: 1fr;
    }
}