#mobileSettings {
    display: none;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 24px;
}


#settingsContainer {
    display: none;
    place-items: center;
    position: absolute;
    width: 100vw;
    height: calc(100vh - 70px);
    left: 0;
    background-color: #27282B99;
}
#settingsPage {
    display: flex;
    background-color: var(--black);
    flex-direction: column;
    position: absolute;
    top: 50vh;
    left: 50%;
    translate: -50% calc(-50% - 70px);
    width: 400px;
    height: 400px;
    border-radius: 30px;
}
#closeImg {
    position: absolute;
    height: 24px;
    top: 30px;
    right: 30px;
}

@media (max-width: 850px) {
    .headerSettings {
        display: none;
    }
    #mobileSettings {
        display: block;
    }
    #settingsContainer {
        position: static;
        margin: 0 15vw;
        background-color: var(--black);
    }

    #settingsContainer {
        place-items: center;
        position: absolute;
        width: 100vw;
        height: calc(100vh - 70px);
        left: 0;
        background-color: #27282B99;
        margin: 0;
    }
    #settingsPage {
        display: flex;
        background-color: var(--grey);
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% calc(-50%);
        width: 100vw;
        height: calc(100vh - 70px);
        border-radius: 0px;
    }
}